.mustache {
  color: black;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  top: 25%;
  left: 12%;
  position: absolute;
  z-index: 2;
  box-shadow: 150px 200px 0 0 currentColor,
  250px 200px 0 0 currentColor;
}

.mustache:before {
  content:'';
  width: 150px;
  height: 80px;
  position: absolute;
  left: 85px;
  top: 170px;
  border-bottom: 100px solid currentColor;
  border-radius: 0 0 0 100%;
  animation: left-twitch 5s infinite;
}

.mustache:after {
  content:'';
  width: 150px;
  height: 80px;
  position: absolute;
  left: 330px;
  top: 170px;
  border-bottom: 100px solid currentColor;
  border-radius: 0 0 100% 0;
  animation: right-twitch 5s infinite;
}

@keyframes left-twitch {
  90%, 96% {
    transform: none;
  }
  
  93% {
    transform-origin: right 150px;
    transform: rotate(5deg);
  }
  
  100% {
    transform-origin: right 150px;
    transform: rotate(5deg);
  }
}

@keyframes right-twitch {
  90%, 96% {
    transform: none;
  }
  
  93% {
    transform-origin: left 150px;
    transform: rotate(-5deg);
  }
  
  100% {
    transform-origin: left 150px;
    transform: rotate(-5deg);
  }
}
